@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    color: unset;
    font-family: "Poppins";
    
}
header{
    background-image: url('/assets/images/day.jpeg');
    height: 300px;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    /* align-self: center; */
    flex-wrap: wrap;
    position: relative;
   
}

img.social{
    width: 20px;
    margin: 0px 10px;
}
footer{
    background-color: wheat;
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    font-size: 1.2rem;
    position: absolute;
    bottom: 0;
    width: 100%;
}
.parent1{
    /* background-color: cyan; */
    height: 400px;
    width: 400px;
    position: relative;
    top: 100px;


    
}
.child2{
    color: white;
    font-size: 1.5rem;
    
}
.parent2{
    display: flex;
    justify-content: space-between;
}

.parent3{
    height: 5%;
    width: 100%;
    background-color: white;
   
}
.parent6{
    display: flex;
    display: inline-flexbox;
    
    

}
.addtask{
    
    flex-basis: 95%;  
}
.plus{
    color: blue;
    /* display: inline-flex; */
    flex-basis: 5%;
    font-weight: bolder;
    font-size: 1rem;
   
}

.parent5{
    height: 10%;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-around;
   border-radius: 7px;
    background-color: white;
    color: black;
    font-size: 0.9rem;
}
#unique{
    width: 50%;
    display: flex;
    justify-content: space-between;
    font-size: 0.9rem;
}
.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: gray;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px grey;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 24px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  .dark{
    background-color: black;
    color: white;
}